
.ads-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-top: 30px; 
  }
  
  .ad-img {
    height: 100%;  
    object-fit: cover; 
  }
  
  .ad-img:first-child, .ad-img:last-child {
    flex: 1;
    max-width: 25%;  
    margin-left: 10px;
    margin-right: 10px;
    height: 570px;
  }
  
  .ad-img:nth-child(2) {
    flex: 2; 
    max-width: 50%; 
  }
  